<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<nav class="main-nav" id="main-nav-id" th:fragment="menu(activePage)">
    <ul class="main-nav__wrapper">
        <li>
            <a class="main-nav__icon"
               href="javascript:void(0);"
               onclick="onClickMobileMenu()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </a>
        </li>
        <li>
            <a class="main-nav__item main-nav__item--mobile"
               href="./page_1"
               th:classappend="${activePage == 'page_1'} ? 'main-nav__item--active'">Page 1</a>
        </li>
        <li>
            <a class="main-nav__item"
               href="./page_2"
               th:classappend="${activePage == 'page_2'} ? 'main-nav__item--active'">Page 2</a>
        </li>
        <li>
            <a class="main-nav__item"
               href="./page_3"
               th:classappend="${activePage == 'page_3'} ? 'main-nav__item--active'">Page 3</a>
        </li>
    </ul>
    <script>
        function onClickMobileMenu() {
            const x = document.getElementById("main-nav-id");

            x.className === "main-nav"
                ? x.className = "main-nav main-nav--expanded"
                : x.className = "main-nav";
        }
    </script>

</nav>
</body>
</html>